/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,600");

:root {
  --bs-primary: rgb(139, 0, 204);
  --bs-primary-rgb: 139, 0, 204;
  --bs-primary-contrast: #ffffff; /* Colore di contrasto per il testo */
  --bs-primary-transparent: rgba(
    139,
    0,
    204,
    0.5
  ); /* Colore primario con trasparenza */
}

.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M260.6 628.72C421.36 583.72 461.54 144.99 709.62 134.49 957.69 123.99 934.13 204.49 1158.63 204.49 1383.14 204.49 1494.04 134.7 1607.65 134.49' stroke='rgba(139%2c 0%2c 204%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M493.1 665.97C618.08 664.5 710.86 533.54 972.6 524.37 1234.33 515.2 1313.64 254.37 1452.09 244.37' stroke='rgba(139%2c 0%2c 204%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M500.54 669.63C627.64 643.82 568.53 327.91 880.53 316.46 1192.52 305.01 1446.51 160.47 1640.5 159.66' stroke='rgba(139%2c 0%2c 204%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M597.64 662.8C708.34 631.81 672.76 322.77 906.86 322.47 1140.96 322.17 1361.83 532.32 1525.31 535.27' stroke='rgba(139%2c 0%2c 204%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M633.89 603.31C797.83 560.34 857.48 112.19 1098.66 109.8 1339.84 107.41 1433.37 338.43 1563.43 345' stroke='rgba(139%2c 0%2c 204%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Raleway", sans-serif !important;
}

/* Header and Section */
header,
section {
  padding-top: 5rem;
}

h3.text-inside-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h3.text-inside-line span {
  background: #fff;
  padding: 0 10px;
}

/* Dark & Light mode */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* Anchors */
a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-image: linear-gradient(to right, black, black);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  text-decoration: none !important;
}

/* Content tabs a */
#content-tabs a {
  text-decoration: none;
}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: var(--bs-primary) !important;
}

/* Social Icons a color */
.social-icons a {
  color: black !important;
  background: none;
}

/* User Image */
.user-image {
  width: 225px;
  height: 225px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media (max-width: 767px) {
  header .col-lg-2 {
    padding-bottom: 3rem;
  }
}

/* Content Switcher */
.list-group-item.active {
  color: white !important;
  background: black !important;
  border-color: black !important;
}

.list-group a {
  color: black !important;
}

/* Emoji Animation */
.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.camera::after {
  content: "📷";
  --emoji: "📸";
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

.earth::after {
  content: "🌎";
  --emoji-1: "🌍";
  --emoji-2: "🌏";
  animation-name: threeFrames;
  animation-duration: 1.5s;
}

.games::after {
  content: "🎮";
  --emoji: "🕹️";
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

.pc::after {
  content: "🖥️";
  --emoji-1: "💻";
  --emoji-2: "👨‍💻";
  animation-name: threeFrames;
  animation-duration: 1.5s;
}

.book::after {
  content: "📕";
  --emoji: "📖";
  animation-name: twoFrames;
  animation-duration: 1.2s;
}

@keyframes twoFrames {
  50% {
    content: var(--emoji);
  }
}

@keyframes threeFrames {
  33.333% {
    content: var(--emoji-1);
  }

  66.666% {
    content: var(--emoji-2);
  }
}

/* Timeline */
.timeline-container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.timeline-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: black;
  z-index: 1;
}
.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: ltr;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: black;
  background-color: white;
}

.timeline-block-left .timeline-content {
  text-align: right;
}

.timeline-content .timeline-h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content .timeline-span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content .timeline-p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: black;
}

@media screen and (max-width: 768px) {
  .timeline-container:before {
    left: 8px;
    width: 2px;
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }

  .timeline-block-left .timeline-content {
    text-align: left;
    order: 2;
  }

  .timeline-block-left .marker {
    order: 1;
  }
}
.copyright {
  color: black;
}
